<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registration">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>username</mat-label>
        <input matInput formControlName="userName">
      </mat-form-field>
      <br>
      <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
      </mat-form-field>
      <br>
      <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="cPassword" type="password">
     
      </mat-form-field><br>
      <button mat-raised-button type="submit" color="primary">Register</button>
    </form>
    <div>
      <br>
      already registered? <a routerLink ="/">login here!</a> 
  </div>
  </mat-card-content>
</mat-card>